#pageWrap {
  display: flex;
  height: 89%;
  flex-direction: column;
}

#mainWrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#navContainer {
  position: fixed;
  display: flex;
  width: 250px;
  height: 89%;
  max-height: 89%;
  background-color: #0c1736;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logoContainer {
  padding-top: 40px;
  width: 100%;
  height: 45px;
  padding-left: 20px;
  margin-bottom: 20px;
}

#elliotSmithLogo {
  height: 35px;
  width: 200px;
}

#navContainer h2 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 28px;
  margin-left: 20px;
  color: #d2c217;
}

#navLists {
  min-height: 10%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

.navLinks {
  text-decoration: none;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav li p {
  margin: 0;
}

.navSymbols {
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

#playlists {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  overflow-y: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}

.playlistLink {
  margin-bottom: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #f5f5f5;
  cursor: pointer;
}

.playlistLink:hover {
  color: #d2c217;
  cursor: pointer;
}

.navLinks:hover {
  color: #d2c217;
  cursor: pointer;
}

#navLists ul {
  list-style: none;
  padding-left: 20px;
}

#navLists ul li {
  color: #f5f5f5;
  margin-bottom: 10px;
}

#navLists ul li:hover {
  color: #d2c217;
  cursor: pointer;
}

#nav {
  margin-top: 0px;
  margin-bottom: 20px;
}

#renamePlaylist {
  height: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

#albumArt {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  min-height: 250px;
  vertical-align: bottom;
  position: relative;
  bottom: 1;
  margin-top: 5px;
}

#albumArt img {
  width: 250px;
  height: 25 0px;
}

/*Footer Play Bar Component*/

#wideFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 2;
  background-color: #0c1736;
  height: 11%;
  width: 100%;
  bottom: 0;
}

footer section {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#loadedSongInfo {
  width: 30%;
  padding-left: 20px;
  justify-content: center;
  box-sizing: border-box;
}

#loadedSongInfo div {
  width: 100%;
  height: 100%;
}

#loadedSongTitle {
  color: #f5f5f5;
  font-size: 18px;
  margin: 0px;
  font-weight: normal;
  position: relative;
}

#loadedArtistName {
  color: grey;
  font-weight: normal;
  margin: 0px;
  font-size: 16px;
}

footer section p {
  color: #f5f5f5;
  font-size: 18px;
  margin: 0px;
}

#playerControls {
  margin: auto;
}

#topLayerControls {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.playPauseButton {
  margin-right: 15px;
  margin-left: 15px;
}

/* .playPauseButton:hover {
  width: 45px;
  height: 45px;
  margin-top: 8px;
} */

#skipBackButton {
  margin-left: 25px;
}

#skipForwardButton {
  margin-right: 25px;
}

#timeSliderCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  left: 0;
  margin: auto;
}

#wideTimeSlider::before {
  content: "";
  height: 5px;
  width: var(--seek-before-width);
  outline: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  z-index: 2;
  position: absolute;
  background: #737373;
}

#wideTimeSlider {
  width: 50%;
  height: 5px;
  appearance: none;
  background: #f5f5f5;
  border-radius: 2px;
  position: relative;
  outline: none;
  margin-right: 10px;
  margin-left: 10px;
  box-sizing: border-box;
}

#wideTimeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  position: relative;
  z-index: 3;
  background-color: lightblue;
  margin-top: -5px;
}

#wideTimeSlider::-webkit-slider-runnable-track {
  width: 700px;
  height: 5px;
  appearance: none;
  background: #f5f5f5;
  border-radius: 2px;
  position: relative;
  outline: none;
}

#currentTime p {
  color: #f5f5f5;
  font-size: 15px;
}

#duration p {
  color: #f5f5f5;
  font-size: 15px;
}

footer h1 {
  margin: 0px;
}

#audioPlayerModule {
  width: 100%;
  height: 100%;
}

#volumeSection {
  width: 30%;
  height: 100%;
}

/*Footer Play Bar Ends*/

#headerBodyCont {
  padding-left: 250px;
  height: 89%;
  max-height: 89%;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

/*HEADER COMPONENT*/

#header {
  height: 85px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  box-sizing: border-box;
  background-color: #26314c;
}

#leftHead {
  margin-left: 40px;
  width: 100px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

#leftHead div h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#rightHead {
  width: 50%;
  margin-right: 40px;
}

#signUpButton {
  width: 100px;
  height: 40px;
  background-color: #0c1736;
  border: 0px;
  border-radius: 7px;
  cursor: pointer;
}

#loginButton {
  width: 100px;
  height: 40px;
  background-color: lightblue;
  border: 0px;
  border-radius: 7px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

#logOutButton {
  width: 100px;
  height: 40px;
  background-color: #0c1736;
  border: 0px;
  border-radius: 7px;
  cursor: pointer;
}

#rightHead button a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

/*End of Header Component*/

/*Login Component*/

#loginContainer {
  position: fixed;
  background-color: #0c1736;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

#loginContainer h2 {
  font-size: 60px;
  margin-top: 50px;
  color: #f5f5f5;
}

#homeLink {
  font-size: 60px;
  margin-bottom: 80px;
  margin-top: 100px;
  text-decoration: none;
  font-weight: 700;
  color: #f5f5f5;
  cursor: pointer;
  margin-right: 10px;
}

#homeLink:hover {
  color: #d2c217;
}

#loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginInputsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#loginInputsContainer label {
  margin-bottom: 5px;
  color: #f5f5f5;
  font-weight: 400;
  font-size: 15px;
}

#loginInputsContainer input {
  width: 500px;
  height: 30px;
  padding-left: 5px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
}

#resetLink {
  margin-bottom: 20px;
  width: auto;
  color: #f5f5f5;
}

#submitLogin {
  width: 100%;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f5f5f5;
  font-weight: bold;
}

#submitLogin:hover {
  background-color: #d2c217;
  color: #f5f5f5;
}

#invalidPassBox {
  position: absolute;
  top: -60px;
  width: 100%;
  height: 50px;
  background-color: #e35335;
  color: #f5f5f5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

#emailNotFoundBox {
  position: absolute;
  top: -60px;
  width: 100%;
  height: 50px;
  background-color: #e35335;
  color: #f5f5f5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

#unequalEmailsBox {
  position: absolute;
  top: -60px;
  width: 100%;
  height: 50px;
  background-color: #e35335;
  color: #f5f5f5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

/* Login Component Ends*/

/*Search Page Component*/

#searchPageCont {
  width: 100%;
  height: 90%;
  background-color: #26314c;
}

#searchBar {
  margin-left: 40px;
  width: 41%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid white;
  font-size: 16px;
  padding-left: 10px;
  margin-bottom: 20px;
}

#searchBar:focus {
  outline: none;
  box-shadow: 0px 0px 5px #0c1736;
}

#searchResults {
  width: calc(100% - 80px);
  display: grid;
  grid-template-columns: 45% 45%;
  grid-auto-rows: auto;
  margin-left: 40px;
  margin-right: 40px;
  border-spacing: collapse;
  grid-column-gap: 0px;
}

.songRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #f5f5f5;
}

.songRow:hover {
  background-color: #515a6f;
}

.songRowLeft {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.songImgCol {
  height: 90px;
  width: 90px;
}

.songImg {
  height: 90px;
  width: 90px;
}

.playButtonContSongRow:before {
  position: relative;
  height: 90px;
  width: 90px;
}

.playButtonSongRow {
  height: 30px;
  width: 30px;
  margin-left: 33px;
  margin-top: 30px;
  position: absolute;
  z-index: 9;
  cursor: pointer;
}

.playButtonPlaylistSongRow {
  margin-top: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
}

.songInfoCol {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.songInfoCol h1 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 5px;
}

.songInfoCol p {
  font-size: 16px;
  margin: 0;
}

.searchSongName {
  display: flex;
  flex-direction: column;
}

.likeSongCol {
  display: flex;
  align-items: center;
  justify-content: center;
}

#likeSong {
  width: 40px;
  height: 30px;
  cursor: pointer;
}

/*Create Account Component*/

#homeLinkCreateAccount {
  font-size: 60px;
  margin-bottom: 5px;
  margin-top: 100px;
  text-decoration: none;
  font-weight: 700;
  width: 350px;
  height: 70px;
  color: #f5f5f5;
  cursor: pointer;
  margin-right: 10px;
}

#homeLogoCreateAccount {
  width: 350px;
  height: 70px;
  fill: yellow;
}

#createAccContainer {
  position: fixed;
  background-color: #0c1736;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

#createAccContainer h1 {
  color: #f5f5f5;
  font-size: 24px;
  margin-bottom: 60px;
  margin-top: 0px;
  font-weight: 200;
}

#createAccountForm {
  display: flex;
  flex-direction: column;
}

#createAccountForm label {
  margin-bottom: 5px;
  color: #f5f5f5;
  font-weight: 400;
  font-size: 15px;
}

#createAccountForm input {
  width: 500px;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 5px;
  font-size: 15px;
  border: 0px;
  font-weight: 400px;
  border-radius: 4px;
}

#createAccountForm a {
  color: #f5f5f5;
  margin-bottom: 20px;
}

#submitSignup {
  width: 100%;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f5f5f5;
  margin: 0 auto;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 20px;
}

#submitSignup:hover {
  background-color: #d2c217;
  color: #f5f5f5;
}

#unknownErrorBox {
  width: 100%;
  height: 50px;
  background-color: #e35335;
  color: #f5f5f5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

#emailInUseBox {
  width: 100%;
  height: 50px;
  background-color: #e35335;
  color: #f5f5f5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

/*ContextMenu Settings*/

#contextMenuCont {
  background-color: #242526;
  position: absolute;
  z-index: 10;
  height: auto;
  width: auto;
  font-size: 16px;
  border-radius: 3px;
}

#contextMenu {
  background-color: #242526;
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  height: auto;
  width: 180px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contextMenu li {
  cursor: default;
  height: 38px;
  width: 100%;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #242526;
}

#contextMenu li:hover {
  background-color: grey;
}

#contextMenuPlaylist {
  width: 85%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#rightArrow {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 3px;
}

#playlistButtonText {
  height: 100%;
  display: flex;
  align-items: center;
}

#playlistDropDown {
  width: 170px;
  height: auto;
  z-index: 10;
  position: absolute;
  color: black;
}

#playlistDropDown ul {
  width: 100%;
  padding-left: 0px;
  border-radius: 0px;
}

#playlistDropDown li {
  border-radius: 0px;
  font-size: 16px;
  width: 100%;
  color: #f5f5f5;
  padding-left: 20px;
}

#deleteMenuCont {
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 21;
}

#greyLayer {
  width: 100%;
  height: 100%;
  background-color: #0c1736;
  opacity: 70%;
  z-index: 21;
  position: fixed;
}

#deleteMenu {
  z-index: 21;
  flex-direction: column;
  position: absolute;
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 200px;
  width: 400px;
  left: 35%;
  top: 25%;
  margin: auto auto;
  color: black;
  opacity: 100%;
}

#deleteMenu h1 {
  margin: auto;
}

#deleteMenu p {
  margin: auto;
}

#deletePlaylistButtonRow {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}

#deletePlaylistButtonRow button {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  background-color: #0c1736;
  opacity: 100%;
  z-index: 21;
  color: #f5f5f5;
  font-weight: bold;
}

#deletePlaylistButtonRow button:hover {
  background-color: #d2c217;
  color: #f5f5f5;
}

#goAlbum {
  color: #f5f5f5;
  text-decoration: none;
  cursor: default;
  height: 38px;
  width: 100%;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #242526;
}

#goAlbum:hover {
  background-color: grey;
}

/*Status Messages*/

.statusContainer {
  position: absolute;
  width: 100%;
  height: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 20%;
}

.statusContainerHigh {
  position: absolute;
  width: 100%;
  height: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 40%;
}

.statusContainerLow {
  position: absolute;
  width: 100%;
  height: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 15%;
}

#songAddedPopup {
  display: flex;
  position: fixed;
  z-index: 15;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  background-color: #4169e1;
  text-align: center;
  color: #f5f5f5;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#songAddedPopup p {
  color: #f5f5f5;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

#loginSuccessPopup {
  display: flex;
  position: fixed;
  z-index: 15;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  background-color: #009e60;
  text-align: center;
  color: #f5f5f5;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#playlistCreatedPopup {
  display: flex;
  position: fixed;
  z-index: 15;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  background-color: #009e60;
  text-align: center;
  color: #f5f5f5;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#playlistDeletedPopup {
  display: flex;
  position: fixed;
  z-index: 15;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  background-color: #4169e1;
  text-align: center;
  color: #f5f5f5;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#songDeletedPopup {
  display: flex;
  position: fixed;
  z-index: 15;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  background-color: #4169e1;
  text-align: center;
  color: #f5f5f5;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#loginFailedPopup {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 408px;
  height: 50px;
  text-align: center;
  background-color: #e35335;
  border: 2px solid #e35335;
  border-radius: 3px;
  z-index: 4;
  color: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#emailInUsePopup {
  display: flex;
  width: 408px;
  height: 50px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #e35335;
  border: 2px solid #e35335;
  border-radius: 3px;
  z-index: 4;
  color: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#emailNotFoundPopup {
  display: flex;
  width: 408px;
  height: 50px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #e35335;
  border: 2px solid #e35335;
  border-radius: 3px;
  z-index: 4;
  color: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#accountCreatedPopup {
  display: flex;
  width: 200px;
  height: 50px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #009e60;
  border: 2px solid #009e60;
  border-radius: 3px;
  z-index: 4;
  color: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#addedQueuePopup {
  display: flex;
  position: fixed;
  z-index: 15;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  background-color: #4169e1;
  text-align: center;
  color: #f5f5f5;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* PLAYLIST STYLING */

#playlistCont {
  padding-top: 20px;
  background-color: #26314c;
  height: auto;
  min-height: 100vh;
  color: #f5f5f5;
}

#playlist {
  margin: auto;
  width: calc(100% - 80px);
  height: auto;
  padding-bottom: 50px;
}

#playlistImgCont {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  background-color: black;
}

#playlistHead {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

#playlistText {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

#playlistTitle {
  font-size: 50px;
  margin: 0px;
}

#playlistInfo {
  display: flex;
  flex-direction: row;
}

#playlistInfo p {
  margin: 0px;
  margin-top: 20px;
}

#playlistBody {
  width: 100%;
}

#playlistTable {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#playlistTableHead {
  width: 100%;
  display: grid;
  grid-template-columns: 4% 80% 2fr;
  grid-template-rows: 1;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 10px;
}

/* Playlist Song */

.playlistSongRow {
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 4% 80% 2fr 1fr;
  grid-template-rows: 1;
  align-items: center;
  border-radius: 4px;
  margin-top: 10px;
}

.playlistSongRow:hover {
  background-color: #515a6f;
}

.playlistSongTitleCol {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playlistSongImg {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.playlistSongTitleText {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.playlistSongTitleText p {
  margin: 0px;
}

.playlistSongTitle p {
  font-size: 17px;
}

.playlistSongRowArtistName p {
  color: #dcdcdc;
}

.playlistSongNum {
  text-align: center;
}

#songOrderCol {
  text-align: center;
}

/*ALBUM COMPONENT*/

#albumCont {
  padding-top: 20px;
  background-color: #26314c;
  height: auto;
}

#album {
  margin: auto;
  min-height: 100vh;
  height: auto;
  background-color: #26314c;
  padding-bottom: 50px;
  width: calc(100% - 80px);
}

#albumImgCont {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  background-color: #f5f5f5;
}

#albumHead {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  color: #f5f5f5;
}

#albumText {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

#albumTitle {
  font-size: 50px;
  margin: 0px;
  color: #f5f5f5;
}

#albumInfo {
  display: flex;
  flex-direction: row;
}

#albumInfo p {
  margin: 0px;
  margin-top: 20px;
  color: #f5f5f5;
}

#albumBody {
  width: 100%;
}

#albumTable {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#albumTableHead {
  padding-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 4% 85% 7%;
  grid-template-rows: 1;
  color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 10px;
}

.albumSongRow {
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 4% 85% 7% 1%;
  grid-template-rows: 1;
  margin-top: 5px;
  border-radius: 4px;
  align-items: center;
  color: #f5f5f5;
}

.albumSongRow:hover {
  background-color: #515a6f;
}

.albumSongTitleCol {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  justify-content: center;
}

.albumSongTitleCol p {
  margin: 0px;
}

.albumSongTitle p {
  font-size: 17px;
  margin-bottom: 5px;
}

.albumSongRowArtistName p {
  color: #dcdcdc;
}

.albumSongNum {
  text-align: center;
}

/* Home */

#homeWrap {
  width: 100%;
  min-height: 90%;
  background-color: #26314c;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 40px;
}

#homeBanner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-template-rows: 1fr;
  margin-left: 15px;
  padding-right: 30px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  overflow: hidden;
}

#homeBanner img {
  width: 100%;
  max-height: 350px;
  object-position: center 15%;
  object-fit: cover;
  overflow: hidden;
}

#homeWrapTitle {
  color: #f5f5f5;
  margin-left: 15px;
  margin-top: 0px;
  font-size: 27px;
  font-weight: 350;
  margin-bottom: 5px;
}

#homeBlackBox {
  width: 100%;
  background-color: black;
}

#recommendedTracks {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-auto-rows: 0;
  height: 230px;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.recommendedSongRow {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  color: #f5f5f5;
  border-radius: 4px;
}

.recommendedSongRowTop {
  width: 100%;
  height: auto;
}

.recommendedSongRow:hover {
  background-color: #515a6f;
}

.recommendedSongImgCol {
  position: relative;
}

.recommendedSongImg {
  width: 100%;
}

.playButtonContSongRow:before {
  position: relative;
  height: 90px;
  width: 90px;
}

.recommendedPlayButtonSongRow {
  height: 20%;
  width: 20%;
  top: 41%;
  left: 43%;
  position: absolute;
  z-index: 9;
  cursor: pointer;
}

.recommendedSongInfoCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 20px;
}

.recommendedSongInfoCol h1 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 5px;
}

.recommendedSongInfoCol p {
  font-size: 16px;
  margin: 0;
}

.recommendedSongRowBottom {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
}

#recommendedVisibleContextMenu {
  position: absolute;
  right: 0;
  top: 30%;
}

#aboutElliotContainer {
  width: 94%;
  height: auto;
  margin-left: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

#aboutElliotTitle {
  color: #f5f5f5;
  margin-top: 0px;
  font-size: 27px;
  font-weight: 350;
  margin-bottom: 15px;
}

#aboutElliotContent {
  display: grid;
  height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  width: 100%;
}

#aboutElliotImg {
  height: auto;
  max-width: 100%;
}

#aboutElliotPara {
  color: #f5f5f5;
  width: 100%;
  font-size: 18px;
  margin-left: 30px;
}

#topPara {
  margin-top: 0px;
}

#aboutElliotPara p {
  margin-left: 0px;
}

#elliotSmithLaundromat {
  height: auto;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 900px) {
  #aboutElliotContent {
    display: flex;
    flex-direction: column;
  }

  #contextMenuCont {
    z-index: 22;
  }

  #aboutElliotTitle {
    padding-left: 20px;
    font-size: 35px;
  }

  #aboutElliotImg {
    margin-bottom: 20px;
    width: auto;
  }

  #elliotSmithlaundromat {
    width: 200px;
    height: 400px;
    background-size: cover;
    object-fit: cover;
  }

  #navContainer {
    display: none;
    width: 0px;
  }

  #mainWrap {
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
  }

  #headerBodyCont {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding-bottom: 115px;
    box-sizing: border-box;
    background-color: #26314c;
  }

  #headerBodyCont div {
    box-sizing: border-box;
  }

  #homeWrap {
    padding-left: 0px;
    padding-right: 0px;
  }

  #homeBanner {
    padding: 0px;
    margin-left: 0px;
    padding-top: 85px;
  }

  #recommendedTracks {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-auto-rows: 0;
    height: 230px;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .recommendedSongRow {
    padding-left: 10px;
    padding-right: 10px;
  }

  #aboutElliotContainer {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 20px;
  }

  #aboutElliotPara {
    box-sizing: border-box;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #header {
    position: fixed;
    z-index: 23;
    background-color: #0c1736;
  }

  #mobileHeaderHead {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
  }

  .closedHamburger {
    width: 100%;
    height: 0px;
    z-index: 20;
    box-sizing: border-box;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    animation-name: close;
  }

  .openHamburger {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0c1736;
    animation-name: open;
    animation-duration: 0.25s;
  }

  @keyframes open {
    from {
      height: 0px;
    }
    100% {
      height: 100%;
    }
  }

  @keyframes close-modal {
    from {
      height: 100%;
    }
    top {
      height: 0px;
    }
  }

  #leftHead {
    width: 0px;
    height: 0px;
    margin: 0px;
  }

  #rightHead {
    width: 100%;
    position: relative;
    margin: 0px;
  }
  #hamburger {
    width: 50px;
    height: 50px;
    color: white;
    position: absolute;
    top: 2px;
    left: 20px;
    cursor: pointer;
  }

  #elliotSmithLogoMobile {
    height: 50px;
    width: 200px;
  }

  #mobileNavMenu {
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 20px;
    z-index: 25;
  }

  .openMobileNavMenu {
    display: flex !important;
  }

  .closedMobileNavMenu {
    display: none !important;
  }

  #mobileNavMenuFooter {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
  }

  #signUpButtonMobile {
    width: 250px;
    height: 45px;
    margin-bottom: 30px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #loginButtonMobile {
    width: 250px;
    height: 45px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #mobileNavMenuBody {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    color: white;
    padding-top: 20px;
    text-align: left;
    max-height: 60%;
    box-sizing: border-box;
  }

  #mobileNavMenuBody li {
    margin-left: -20px;
    margin-bottom: 20px;
  }

  .navLinks {
    font-size: 25px;
  }

  #playlistsMobile {
    overflow: auto;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
  }

  #Layer_0 {
    height: 50px;
    width: 200px;
  }

  /*Mobile Seacrch Stylings*/

  #searchPageCont {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
  }

  #searchBar {
    width: 100%;
    margin: 0px;
    padding-left: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  #searchResults {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    border-spacing: collapse;
    grid-column-gap: 0px;
  }

  .songRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: #f5f5f5;
  }

  .playButtonContSongRow:before {
    position: relative;
    height: 90px;
    width: 90px;
  }

  .playButtonSongRow {
    height: 25px;
    width: 25px;
    margin-left: 21px;
    margin-top: 17px;
    position: absolute;
    z-index: 9;
    cursor: pointer;
  }

  .songInfoCol {
    padding-bottom: 5px;
  }

  .songImgCol {
    height: 60px;
    width: 60px;
  }

  .songImg {
    height: 60px;
    width: 60px;
  }

  #footer {
    height: 65px;
    z-index: 21;
    background-color: rgba(12, 23, 54, 0.9);
  }

  #mobileFooter {
    width: 100%;
  }

  #mobileCurrentAlbum {
    width: 50px;
    height: 50px;
    margin-right: 0px;
  }

  #mobileCurrentAlbum img {
    width: 50px;
    height: 50px;
  }

  #mobileCurrentSongCont {
    position: absolute;
    width: 100%;
    height: 50px;
    top: -50px;
    background-color: #0c1736;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #mobileCurrentSongLeft {
    height: 50px;
    display: flex;
    flex-direction: row;
  }

  #mobileCurrentSongRight {
    display: flex;
    align-items: center;
    height: 50px;
  }

  #mobileCurrentSong {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  }

  #mobileCurrentSong p {
    font-size: 14px;
    margin: 0px;
    color: #f5f5f5;
  }

  #loadedSongInfo {
    width: 30%;
    padding-left: 10px;
  }

  #topLayerControls {
    padding-top: 10px;
    margin-bottom: 2px;
  }

  #timeSliderCont {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
  }

  #fullscreenTimeSlider {
    width: 100%;
    height: 2px;
    appearance: none;
    background: #f5f5f5;
    border-radius: 2px;
    position: relative;
    outline: none;
    box-sizing: border-box;
  }

  #fullscreenTimeSlider::before {
    content: "";
    height: 2px;
    width: var(--seek-before-width);
    outline: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 0px solid;
    z-index: 2;
    position: absolute;
    background: white;
    margin-bottom: 0px;
  }

  #fullscreenTimeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    position: relative;
    z-index: 3;
    background-color: lightblue;
    margin-top: -8px;
  }

  #fullscreenTimeSlider::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    appearance: none;
    background: grey;
    border-radius: 2px;
    position: relative;
    outline: none;
  }

  #mobileTimeSlider {
    width: 100%;
    height: 2px;
    border-radius: 0px;
    margin-bottom: -2px;
    margin-right: 0px;
    margin-left: 0px;
    border: 0px;
  }

  #mobileTimeSlider::before {
    content: "";
    height: 2px;
    width: var(--seek-before-width);
    outline: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 0px solid;
    z-index: 2;
    position: absolute;
    background: white;
    margin-bottom: 0px;
  }

  #mobileTimeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    border: none;
    background-color: none;
    z-index: 3;
    margin-top: -5px;
    display: none;
  }

  #mobileTimeSlider::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    appearance: none;
    background: grey;
    border-radius: 2px;
    position: relative;
    outline: none;
  }

  #footerMenuCont {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    padding-top: 4px;
  }

  #footerMenuCont div {
    height: 100%;
    width: 100px;
  }

  .footerLinks {
    width: 100%;
    height: 100%;
    color: #f5f5f5;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
  }

  #createPlaylistButton {
    width: 100px;
    height: 100%;
  }

  #createPlaylistButton div {
    width: 100%;
    height: 100%;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
  }

  #createPlaylistButton div svg {
    margin: 0px;
  }

  .footerSymbols {
    width: 30px;
    height: 30px;
  }

  #audioPlayerModuleCont {
    width: 100%;
    height: 100%;
    position: relative;
  }

  #mobileAudioPlayerCont {
    display: flex;
    position: fixed;
    width: 100vw !important;
    height: 100vh !important;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: rgba(12, 23, 54, 0.95);
    z-index: 26;
  }

  #mobileAudioPlayer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  #mobileSongInfoRowCont h1 {
    font-size: 26px;
    font-weight: 500;
    color: #f5f5f5;
    margin-bottom: 5px;
  }

  #mobileSongInfoRowCont p {
    font-size: 22px;
    font-weight: 500;
    color: #f5f5f5;
    margin-top: 5px;
  }

  #mobileSongTopLayerCont {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 40px;
    color: #f5f5f5;
  }

  #mobileSongAlbumCoverCont {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  #mobileSongAlbumCoverCont img {
    width: 100%;
    height: auto;
    max-width: 425px;
    max-height: 425px;
    background-color: black;
  }

  #mobileSongTimeBarCont {
    display: flex;
    flex-direction: column;
  }

  #mobileSongTimeBarTime div p {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  #mobileSongTimeBarTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
  }

  .timeSliderFullScreen::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px !important;
    width: 15px !important;
    border-radius: 50% !important;
    border: none !important;
    position: relative !important;
    z-index: 3 !important;
    background-color: lightblue !important;
    margin-top: -5px;
  }

  #mobileTopLayerControls {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  /*Mobile Album Styling*/

  #albumCont {
    padding-top: 100px;
  }

  #album {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  #albumHead {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
  }

  #albumImgCont {
    width: 250px;
    height: 250px;
    margin-right: 0px;
  }
  #albumImg {
    width: 250px;
    height: 250px;
  }

  #albumImg img {
    width: 250px !important;
    height: 250px !important;
  }

  #mobileAlbumText {
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
  }

  #mobileAlbumText h1 {
    margin-bottom: 0px;
    margin-top: 20px;
  }

  #mobileAlbumText p {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .albumSongRow {
    display: flex;
  }

  .albumSongNum {
    width: 30px;
  }

  .albumSongTitleCol {
    padding-left: 10px;
  }

  .albumSongLength {
    width: 50px;
  }

  .visibleContextMenu {
    width: 50px;
  }

  #albumTableHead {
    display: none;
  }

  /*Playlist Styling*/

  #playlistCont {
    padding-top: 100px;
  }

  #playlist {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  #playlistHead {
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }

  #playlistImgCont {
    width: 100%;
    height: 250px;
    display: flex;
    background-color: #26314c;
    justify-content: center;
    margin: 0px;
  }

  #playlistImg {
    width: 250px;
    height: 250px;
    background-color: black;
  }

  #mobilePlaylistText h1 {
    margin-bottom: 0px;
  }

  #mobilePlaylistText p {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  #playlistTableHead {
    display: none;
  }

  .playlistSongRow {
    display: flex;
  }

  .playlistSongNum {
    width: 40px;
    margin-right: 0px;
  }

  .playlistSongImg {
    width: 60px;
    margin-right: 10px;
  }

  .playlistSongTitleCol {
    padding-left: 0px;
    width: 100%;
  }

  .playlistSongLength {
    width: 50px;
  }

  /*Create Account Mobile */

  #createAccContainer {
    position: fixed;
    padding-top: 90px;
    padding-bottom: 100px;
    box-sizing: border-box;
  }

  #homeLinkCreateAccount {
    display: none;
  }

  #createAccContainer h1 {
    margin-bottom: 20px;
  }

  #createAccountForm {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  #createAccountForm label {
    width: 100%;
  }

  #createAccountForm input {
    width: 100%;
  }

  /*Login Mobile*/

  #loginContainer {
    justify-content: center;
    display: flex;
    background-color: #26314c;
  }

  #loginForm {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  #submitButton {
    width: 100%;
  }

  #homeLink {
    display: none;
  }

  #loginForm input {
    width: 100%;
    box-sizing: border-box;
  }
}
